.Banner{
    .btn{
        border: 2px solid black;
        padding: 2em;
        border-radius: 1em;
        font-weight: bold;
    }
    .banner-box{
        background-image: url("https://uk.shop.xreal.com/cdn/shop/files/Img_Air_2_Ultra_430x_6287a5a8-4a09-4a1f-8e03-a03686fd108b.svg?v=1704032627&width=1500");
        background-size: cover;
        background-position: center;
    }
}