.About{
    .btn{
        border: 2px solid black;
        padding: 2em;
        border-radius: 1em;
        font-weight: bold;
    }
    .image-box{
        background-image: url("https://uk.shop.xreal.com/cdn/shop/files/Air_UK.svg?v=1705920933&width=750");
        background-size: cover;
        background-position: center;
    }
}