.Home{
    background-image: url("https://uk.shop.xreal.com/cdn/shop/files/Frame_196457_257d817b-d8c4-4535-949f-52030f9b3bcb.svg?v=1706004155&width=750");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}